[submodule "QITI_WavemeterLock"]
	path = QITI_WavemeterLock
	url = https://github.com/QITI/WavemeterLock
[submodule "QITI_communicate_instruments"]
	path = QITI_communicate_instruments
	url = https://github.com/QITI/communicate_instruments
[submodule "QITI_DC_Voltage_Control"]
	path = QITI_DC_Voltage_Control
	url = https://github.com/QITI/DC_Voltage_Control
