[submodule "QITI_WavemeterLock"]
	path = QITI_WavemeterLock
	url = https://github.com/QITI/WavemeterLock
[submodule "QITI_communicate_instruments"]
	path = QITI_communicate_instruments
	url = https://github.com/QITI/communicate_instruments
